.NavBar{
    margin-top: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .NavLink{
    text-decoration: none;
  }

  .ConteinerBtnNav{
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  
  .Option{
    border: none;
    background-color: #ffffff;
    padding:5;
    font-size: 26;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: darkgray;
  }

  .Option:hover{
    transition: 0.5s;
    color: orangered
  }

  .logoComplete{
    color: rgb(55, 53, 53)
  }

  .logo{
    font-size: 30;
    font-weight: 900; 
    color: orangered;   
  }